---
// Astro Assets
import { Image } from "astro:assets";
// svg Components
import { StarIcon } from "../../assets/icons";

// Components
import Card from "../../components/global/card.astro";
import CardGrid from "../../components/global/cardGrid.astro";
import SectionTitle from "../../components/global/sectionTitle.astro";

// Page Data
const { sectionContent, sectionId } = Astro.props;
---

<section id={sectionId}>
  <div class="wrapper container">
    <SectionTitle
      sectionTitle={sectionContent.title}
      headerStyle="text-center"
    />

    <CardGrid>
      {
        sectionContent.reviews.map((review) => (
          <Card cardStyle="review-card">
            <div class="stars">
              {Array.from({ length: 5 }, () => (
                <StarIcon />
              ))}
            </div>
            <p class="quote">"{review.quote}"</p>
            <div class="author">
              <Image
                src={review.avatar.url}
                alt={review.avatar.altText}
                width={100}
                height={100}
              />
              <div>
                <p>{review.author}</p>
                <span>{review.date}</span>
              </div>
            </div>
          </Card>
        ))
      }
    </CardGrid>

    <a
      href={sectionContent.airbnbScore.reviewLink.url}
      target="_blank"
      rel="norefer noopener"
    >
      <Card cardStyle="review-card" cardId="rating-card">
        <div class="stars">
          {Array.from({ length: 5 }, () => <StarIcon />)}
        </div>

        <div>
          <span id="rating">{sectionContent.airbnbScore.rating}</span>
          <span id="review-amount"
            >{sectionContent.airbnbScore.reviewAmount}</span
          >
        </div>
      </Card>
    </a>
  </div>
</section>

<style>
  .container {
    a {
      display: block;
      margin-block-start: var(--size-4);
      margin-inline: auto;
      width: fit-content;
    }

    span {
      display: block;
    }

    #rating {
      font-size: var(--fs-600);
      font-weight: var(--fw-light-bold);
    }
  }
</style>
