---
// Astro Assets
import { Image } from "astro:assets";
// Components
import SectionTitle from "../../components/global/sectionTitle.astro";
import Card from "../../components/global/card.astro";
import CardGrid from "../../components/global/cardGrid.astro";
import Icon from "../../components/global/icon.astro";
// page Data
const { sectionContent, sectionId } = Astro.props;
---

<section id={sectionId}>
  <div class="wrapper">
    <SectionTitle
      sectionTitle={sectionContent.title}
      subTitle={sectionContent.description}
      headerStyle="text-center"
    />
    <CardGrid>
      {
        sectionContent.items.map((item) => (
          <Card cardStyle="locations-card">
            <Image
              src={item.image.imageUrl}
              alt={item.image.altText}
              width={250}
              height={250}
            />
            <div>
              <h3>
                <Icon iconStyle={item.iconStyle}>
                  <Image src={item.iconUrl} alt="" width={25} height={25} />
                </Icon>
                {item.title}
              </h3>
              <p>{item.description}</p>
            </div>
          </Card>
        ))
      }
    </CardGrid>
  </div>
</section>

<style>
  section {
    background-color: var(--clr-warm-sand);
  }
</style>
