---
// Astro Assets
import { Image } from "astro:assets";
// Components
import SectionTitle from "../../components/global/sectionTitle.astro";
import Icon from "../../components/global/icon.astro";
import FlexSection from "../../components/global/flex-section.astro";
// page Data
const { sectionContent, sectionId } = Astro.props;
---

<section id={sectionId}>
  <div class="wrapper">
    <SectionTitle
      headerStyle="text-center"
      sectionTitle={sectionContent.title}
      subTitle={sectionContent.description}
    />

    <FlexSection alignment="flex-align-center">
      <picture>
        <Image
          src={sectionContent.sectionImage.imageUrl}
          alt={sectionContent.sectionImage.altText}
          width={500}
          height={500}
        />

        <label class="label">
          <h3>{sectionContent.label.title}</h3>
          <span>{sectionContent.label.text}</span>
        </label>
      </picture>

      <ul class="highlights" role="list">
        {
          sectionContent.locations.map((location: any) => (
            <li>
              <Icon iconStyle={location.iconStyle}>
                <Image src={location.icon} alt="" width={25} height={25} />
              </Icon>

              <div>
                <h3>{location.title}</h3>
                <span>{location.description}</span>
              </div>
            </li>
          ))
        }
      </ul></FlexSection
    >
  </div>
</section>

<style>
  picture {
    background-color: var(--clr-warm-sand);
    border-radius: var(--border-radius-card-big);
    box-shadow: var(--box-shadow-light);
    flex: 1;
    min-width: 0;
    padding: var(--size-3);
    position: relative;
    width: 100%;

    img {
      object-fit: cover;
    }

    .label {
      background-color: var(--clr-off-white);
      border-radius: var(--border-radius-card);
      box-shadow: var(--box-shadow-light);
      inset-block-start: var(--size-5);
      inset-inline: var(--size-6) auto;
      padding: var(--size-1);
      position: absolute;

      h3 {
        font-size: var(--fs-500);
      }
    }
  }

  picture,
  picture > img {
    border-radius: var(--border-radius-card-big);
    width: 100%;
  }

  .highlights {
    display: block;
    flex: 1;
    min-width: 0;
    width: 100%;

    li {
      align-items: center;
      background-color: var(--clr-warm-sand);
      border-radius: var(--border-radius-card);
      display: flex;
      gap: var(--size-1);
      padding: var(--size-1);
      width: 100%;

      h3 {
        font-size: var(--fs-600);
      }

      &:not(:last-child) {
        margin-block-end: var(--size-2);
      }
    }
  }
</style>
