---
// Astro Assets
import { Image } from "astro:assets";
// Components
import FlexSection from "../../components/global/flex-section.astro";
import Icon from "../../components/global/icon.astro";
import SectionTitle from "../../components/global/sectionTitle.astro";

// page Data
const { sectionContent, sectionId } = Astro.props;
---

<section id={sectionId}>
  <div class="wrapper">
    <SectionTitle
      sectionTitle={sectionContent.title}
      subTitle={sectionContent.subTitle}
      headerStyle="text-center"
    />

    <FlexSection>
      <ul class="recomodations-list" role="list">
        {
          sectionContent.recomodationList.map((recomodation: any) => (
            <li>
              <a
                href={recomodation.link}
                target="_blank"
                rel="noreferrer noopener"
              >
                <Icon iconStyle={recomodation.iconStyle}>
                  <Image
                    alt=""
                    height={50}
                    src={recomodation.iconUrl}
                    width={50}
                  />
                </Icon>

                <div class="text-wrapper">
                  <h3>{recomodation.title}</h3>
                  <p>{recomodation.description}</p>
                  <span class={recomodation.distanceStyle}>
                    {recomodation.distance}
                  </span>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
      <div class="practical-tips">
        <h3>{sectionContent.practicalTips.title}</h3>
        <ul>
          {
            sectionContent.practicalTips.tips.map((tip: any) => (
              <li set:html={tip} />
            ))
          }
        </ul>
        <div class="breaker"></div>
        <p>{sectionContent.practicalTips.extraTip}</p>
      </div>
    </FlexSection>
  </div>
</section>

<style>
  .recomodations-list {
    width: 75%;

    li,
    a {
      max-width: unset;
    }

    li:not(:last-child) {
      margin-block-end: var(--size-2);
    }

    li > a {
      background-color: var(--clr-warm-sand-transparend);

      border-radius: var(--border-radius-card);
      display: flex;
      gap: var(--size-1);
      padding: var(--size-1);
      transition: transform 0.4s ease-in-out;

      h3 {
        font-size: var(--fs-500);
        margin-block-end: var(--size-1);
      }

      .green-text {
        color: var(--clr-green-blue);
      }
      .gold-text {
        color: var(--clr-gold);
      }

      &:hover,
      &:focus {
        transform: scale(1.05);
        background-color: var(--clr-warm-sand);
      }
    }
  }

  .practical-tips {
    align-items: flex-start;
    background-color: var(--clr-warm-sand);
    border-radius: var(--border-radius-card);
    display: flex;
    flex-direction: column;
    gap: var(--size-1);
    padding: var(--size-2);

    h3 {
      font-size: var(--fs-600);
    }

    .breaker {
      background-color: var(--clr-gray);
      height: 1px;
      border-radius: var(--border-radius-full);
      width: 100%;
    }

    ul {
      li {
        padding-inline-start: var(--size-1);

        &:not(:last-child) {
          margin-block-end: var(--size-1);
        }
      }
      li::marker {
        content: "✓";
        font-weight: var(--fw-bold);
        color: var(--clr-green-blue);
      }
    }
  }
</style>
