---
// Props
const {
  href = "",
  buttonStyle = null,
  buttonType = "btn",
  onClick = null,
  target = null,
} = Astro.props;

// Check of het een externe link is én of het een nieuw tabblad opent
const isExternal = href.startsWith("http://") || href.startsWith("https://");
const openInNewTab = target === "_blank";
const rel = isExternal && openInNewTab ? "noopener noreferrer" : undefined;
---

{
  href ? (
    <a href={href} class={`btn ${buttonStyle}`} target={target} rel={rel}>
      <slot />
    </a>
  ) : (
    <button class={`btn ${buttonStyle}`} type={buttonType} onclick={onClick}>
      <slot />
    </button>
  )
}

<style>
  .btn {
    align-items: center;
    border-radius: var(--border-radius-btn);
    cursor: pointer;
    display: flex;
    font-size: var(--fs-body);
    font-weight: var(--fw-light-bold);
    gap: var(--size-1);
    padding: calc(var(--size-1) / 2) var(--size-2);
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
    width: fit-content;

    &:active {
      transform: scale(0.95);
    }
  }

  .btn.gold {
    background-color: var(--clr-gold);
    color: var(--clr-warm-sand);
    border: solid 2px var(--clr-gold);

    &:hover,
    &:focus {
      background-color: transparent;
      color: var(--clr-gold);
    }

    &:active {
      background-color: var(--clr-gold);
      color: var(--clr-warm-sand);
    }
  }

  .btn.green {
    background-color: var(--clr-green-blue);
    border: solid 2px var(--clr-green-blue);
    color: var(--clr-off-white);

    &:hover,
    &:focus {
      background-color: transparent;
      color: var(--clr-green-blue);
    }

    &:active {
      background-color: var(--clr-green-blue);
      color: var(--clr-off-white);
    }
  }

  .btn.primary {
    background-color: var(--clr-gold-dark);
    color: var(--clr-warm-sand);
    border: solid 2px var(--clr-gold-dark);

    &:hover,
    &:focus {
      background-color: transparent;
      color: var(--clr-gold-dark);
    }

    &:active {
      background-color: var(--clr-gold-dark);
      color: var(--clr-warm-sand);
    }
  }

  .btn.primary-open {
    border: solid 2px var(--clr-gold-dark);
    background-color: transparent;
    color: var(--clr-warm-sand);

    &:hover,
    &:focus {
      background-color: var(--clr-gold-dark);
    }
  }

  .btn.submit-btn {
    align-items: center;
    background-color: var(--clr-green-blue);
    border-radius: var(--border-radius-card);
    border: none;
    color: var(--clr-off-white);
    justify-content: center;
    width: 100%;

    &:hover,
    &:focus {
      background-color: var(--clr-green);
      transform: translateY(-5px);
    }

    &:active {
      background-color: var(--clr-green-blue);
      color: var(--clr-off-white);
    }

    &:disabled {
      background-color: var(--clr-dark-gray);
      pointer-events: none;
      cursor: none;
    }
  }
  .btn.white-btn {
    background-color: var(--clr-white);
    color: var(--clr-gold);

    &:hover,
    &:focus {
      background-color: var(--clr-warm-sand);
    }

    &:active {
      background-color: var(--clr-white);
    }
  }

  .btn.white-btn-green-text {
    background-color: var(--clr-white);
    border: solid 1px var(--clr-white);
    color: var(--clr-green-blue);

    &:hover,
    &:focus {
      background-color: transparent;
      color: var(--clr-white);
    }

    &:active {
      background-color: var(--clr-white);
      color: var(--clr-green-blue);
    }
  }

  .btn.white-btn-open {
    background-color: transparent;
    border: solid 1px var(--clr-white);
    color: var(--clr-white);

    &:hover,
    &:focus {
      background-color: var(--clr-white);
      color: var(--clr-green-blue);
    }

    &:active {
      background-color: transparent;
      color: var(--clr-white);
    }
  }
</style>
