---
// Astro Assets
import { Image } from "astro:assets";
// Components
import Card from "../../components/global/card.astro";
import CardGrid from "../../components/global/cardGrid.astro";
import Icon from "../../components/global/icon.astro";
import SectionTitle from "../../components/global/sectionTitle.astro";
// Data
const { sectionContent, sectionId } = Astro.props;
---

<section id={sectionId}>
  <div class="wrapper">
    <SectionTitle
      sectionTitle={sectionContent.title}
      subTitle={sectionContent.subTitle}
      headerStyle="text-center"
    />
    <CardGrid cardStyle="small-cards">
      {
        sectionContent.list.map((item: any) => (
          <Card cardStyle="usp-card">
            <Icon iconStyle={item.iconStyle}>
              <Image src={item.iconUrl} alt="" width={25} height={25} />
            </Icon>
            <h3>{item.title}</h3>
            <span>{item.text}</span>
          </Card>
        ))
      }
    </CardGrid>
  </div>
</section>

<style>
  section {
    background-color: var(--clr-warm-sand);
  }
</style>
