---
// Astro Assets
import { Image } from "astro:assets";
// Componenents
import FlexSection from "../../components/global/flex-section.astro";
import Card from "../../components/global/card.astro";

// Data
const { sectionContent, sectionId } = Astro.props;
---

<section id={sectionId}>
  <div class="wrapper">
    <FlexSection>
      <article>
        <h2>{sectionContent.title}</h2>
        {sectionContent.paragraphs.map((p: any) => <p set:html={p} />)}
        <div class="quote-card">
          <quote>"{sectionContent.quote.text}"</quote>
          <span>- {sectionContent.quote.author}</span>
        </div>
      </article>

      <aside>
        <Card cardStyle="wide-border-card-with-image">
          <Image
            height={250}
            src={sectionContent.renovationImage.url}
            width={250}
            alt={sectionContent.renovationImage.altText}
          />
          <div class="card-text">
            <h3>{sectionContent.renovationImage.title}</h3>
            <p>{sectionContent.renovationImage.text}</p>
          </div>
        </Card>
        <Card cardStyle="wide-border-card-with-image">
          <Image
            height={250}
            src={sectionContent.areaImage.url}
            width={250}
            alt={sectionContent.areaImage.altText}
          />
          <div class="card-text">
            <h3>{sectionContent.areaImage.title}</h3>
            <p>{sectionContent.areaImage.text}</p>
          </div>
        </Card>
      </aside>
    </FlexSection>
  </div>
</section>

<style>
  section {
    background-color: var(--clr-warm-sand);

    article {
      width: 70%;
      h2 {
        margin-block-end: var(--size-3);
      }

      p {
        max-width: unset;
      }

      .quote-card {
        background-color: var(--clr-warm-sand);
        border-radius: var(--border-radius-card-big);
        border: solid 1px var(--clr-green-blue);
        box-shadow: var(--box-shadow-light);
        margin-block-start: var(--size-3);
        padding-block: var(--size-2);
        padding-inline: var(--size-4);

        quote {
          font-size: var(--fs-600);
        }

        span {
          color: var(--clr-green-blue);
          display: block;
          padding-block-start: var(--size-2);
        }
      }
    }

    aside {
      display: grid;
      gap: var(--size-3);
      width: 30%;
    }
  }
</style>
