---
// Astro Assets
import { Image } from "astro:assets";

// Components
import Card from "../../components/global/card.astro";
import CardGrid from "../../components/global/cardGrid.astro";
import FiveStars from "../../components/global/fiveStars.astro";
import SectionTitle from "../../components/global/sectionTitle.astro";

// Data
const { sectionContent, sectionId } = Astro.props;
---

<section id={sectionId}>
  <div class="wrapper">
    <SectionTitle
      sectionTitle={sectionContent.title}
      subTitle={sectionContent.subTitle}
      headerStyle="text-center"
    />

    <CardGrid>
      {
        sectionContent.reviews.map((review: any) => (
          <Card cardStyle="review-card">
            <div class="author">
              <Image
                alt={`${review.author.altText} ${review.author.name}`}
                height={50}
                src={review.author.avatarUrl}
                width={50}
              />
              <div>
                <p>{review.author.name}</p>
                <FiveStars />
              </div>
            </div>
            <quote>"{review.text}"</quote>
          </Card>
        ))
      }
    </CardGrid>
  </div>
</section>

<style>
  section {
    background-color: var(--clr-warm-sand);
  }
</style>
